$head-text: #212121;
$accent-text: #2196f3;
$primary-text: #757575;
$primary-color: #ffffff;
$tomato-color: #dd5f18;
$address-text: rgba(255, 255, 255, 0.6);
$background-button: #188ce8;
$button-color: #f5f4fa;
$border-color: #eeeeee;
$footer-background: #2f303a;
$social-link: #afb1b8;
$footer-link: #44454e;
$header-line: #ececec;

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: $primary-text;
}
